In [7]:
import pandas as pd
import numpy as np

In [11]:
df = pd.read_csv("data/college.csv")
df = df.set_index('INSTNM')

In [16]:
df.groupby('STABBR', as_index=False)['UGDS'].mean()

   STABBR         UGDS
0      AK  2493.200000
1      AL  2789.865169
2      AR  1644.146341
3      AS  1276.000000
4      AZ  4130.468254
5      CA  3518.308397
6      CO  2324.880342
7      CT  1873.550562
8      DC  2645.277778
9      DE  2491.052632
10     FL  2492.864935
11     FM  2344.000000
12     GA  2642.571429
13     GU  1894.000000
14     HI  2360.708333
15     IA  2293.944444
16     ID  2096.250000
17     IL  2189.109489
18     IN  2653.559055
19     KS  1861.258427
20     KY  1991.040000
21     LA  1660.243697
22     MA  2023.091954
23     MD  3003.127660
24     ME  1436.589744
25     MH  1078.000000
26     MI  2643.016043
27     MN  2085.954545
28     MO  1557.060773
29     MP  1120.000000
30     MS  2498.586207
31     MT  1470.666667
32     NC  2446.851852
33     ND  1460.107143
34     NE  1932.312500
35     NH  2060.473684
36     NJ  2353.284810
37     NM  2253.583333
38     NV  2274.266667
39     NY  2348.990544
40     OH  1576.651026
41     OK  1351.035461
42     OR  2182.644444
43     PA  1699.275281
44     PR  1598.823944
45     PW   602.000000
46     RI  3305.590909
47     SC  2073.504854
48     SD  1358.133333
49     TN  1570.194118
50     TX  2998.530516
51     UT  3035.333333
52     VA  2694.900000
53     VI  1971.000000
54     VT  1512.590909
55     WA  2271.214286
56     WI  2655.490385
57     WV  1758.114286
58     WY  2244.363636